.header {
  position: relative;
  padding-bottom: $padding;
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 30px;
    align-items: center;
    padding-bottom: 150px;

    .header__left-side {
      .header__left-side__head {
        font-size: calc((40px + (46 - 40) * ((100vw - 1366px) / (1920 - 1366))));
        margin: 0;
        letter-spacing: -2px;
      }

      .header__left-side__paragraph {
        font-size: calc((24px + (30 - 24) * ((100vw - 1366px) / (1920 - 1366))));
        line-height: 1.7;
        margin: 5 px 0 0;
        color: #666;
        max-width: 500 px;
      }
    }

    .header__right-side {
      img {
        width: 600px;
        position: relative;
        animation: up-and-down 5s linear infinite;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: $backgroundColor;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
  }
  .down{
    text-align: center;
    cursor: pointer;
    .fa-angles-down{
      font-size: 30px;
      color: $blueColor;
      animation: bounce 1.5s infinite;
      
    }
  }
}

@media screen and (max-width:900px) {
  .header {
    .header__right-side {
      img {
        display: none;
      }
    }
  }
}

@media screen and (max-width:992px) {
  .header {
    .container {
      display: flex;  
      align-items: center;
      padding-bottom: 90px;
      justify-content: center;
      min-height: calc(100vh - 72px);
      text-align: center;
    

      .header__left-side {
        .header__left-side__head {
          font-size: calc((40px + (46 - 40) * ((100vw - 992px) / (1366 - 992 ))));
        }
      }
    }
  }
}

@keyframes up-and-down {

  0%,
  100% {
    top: 0;
  }

  50% {
    top: -60px
  }
}
@keyframes bounce {
  0% , 10% ,20% ,50% ,80% ,100%{
    transform: translateY(0);
  } 
  40% ,60% {
    transform: translateY(-15px);
  }
}