.home-page {
  .gallery {
    padding-top: $padding;
    padding-bottom: $padding;

    .gallery-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 40px;

      .card {
        overflow: hidden;

        .card-img {
          padding: 10px;
          transition: $transtion;
          transform: scale(1);
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          transition: $transtion;
          ;

          &::before {
            content: "";
            position: absolute;
            width: 0px;
            height: 0px;
            // opacity: 0;
            z-index: 2;
            background-color: #ececec7d;
            transition: $transtion;
          }

          &:hover {
            transform: rotate(5deg) scale(1.2);
            transition: $transtion;

            &::before {
              // opacity: 1;
              animation: flashing .7s;

            }
          }
        }
      }
    }
  }
}

@keyframes flashing {

  0%,
  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}