.navbar {
  box-shadow: 0 0 10px #ddd;
  background-color: #fff;
  position: relative;
  position: relative;
  margin-bottom: 30px;
  // padding: 10px 10px 1px 10px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .navbar__brand {
    text-align: $start;

    a {
      color: $blueColor;
      font-size: 30px;
      font-weight: bold;
    }
  }

  .toggle-btn {
    position: absolute;
    top: 1.6rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 31px;
    height: 21px;
    color: $blueColor;
    transition: .3s;
    transform: rotate(0deg);

    .bar {
      height: 3px;
      width: 100%;
      background-color: $blueColor;
      transform: rotate(0deg);
      transition: $transtion;

    }

    .bar--1 {
      transform: rotate(0deg);
      transition: $transtion;
      transform-origin: right center;
    }

    .bar--2 {
      transition: $transtion;
    }

    .bar--3 {
      transform: rotate(0);
      transition: $transtion;
      transform-origin: right center;
    }

    &.open {
      .bar--1 {
        transform: rotate(-45deg);
        transform-origin: right center;
        position: absolute;
        top: -2px;
        right: 0px;
      }

      .bar--2 {
        display: none;
        transform-origin: right center;
      }

      .bar--3 {
        transform: rotate(45deg);
        transform-origin: right center;
        position: absolute;
        bottom: -2px;
        right: 0px;
      }
    }
  }

  .navbar__links {
    ul {
      display: flex;
      text-align: $end;

      // gap: 60px;
      li {
        .nav-link {
          color: #040000;
          transition: $transtion;
          font-size: 18px;
          position: relative;
          padding: 12px 30px 11px;
          display: flex;
          align-items: center;

          .fa-chevron-down {
            margin-left: 10px;
          }

          &::after {
            content: "";
            position: absolute;
            height: 4px;
            background-color: $hoverColor;
            width: 0;
            left: 0;
            top: 0;
            transition: $transtion;
          }

          &:hover {
            background-color: #FAFAFA;
            color: $hoverColor;

          }

          &:hover::after {
            color: $hoverColor;
            width: 100%;

          }
        }

      }

      .other-links {
        width: fit-content;

        .mega-menu {
          display: flex;
          // display: none;
          align-items: center;
          position: relative;
          position: absolute;
          left: -1500px;
          top: calc(100% + 1px);
          gap: 40px;
          z-index: 11;
          background: #fff;
          width: 90%;
          padding: 20px;
          margin: auto;
          transition: $transtion;
          opacity: 0;

          .fa-xmark {
            position: absolute;
            top: 15px;
            right: 15px;
            color: $blueColor;
            font-size: 25px;
            border: 1px solid $blueColor;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            padding: 0px;
            cursor: pointer;
            z-index: 3;
          }

          .links {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            min-width: 250px;

            li:not(:last-child) {
              border-bottom: 1px solid #e9e6e6;
            }

            li {
              position: relative;
              width: 100%;
              z-index: 1;

              &::before {
                position: absolute;
                content: "";
                left: 0;
                height: 100%;
                background-color: #fafafa;
                transition: $transtion;
                width: 0;
                z-index: -1;
              }

              a {
                display: flex;
                align-items: center;
                gap: 15px;
                padding: 15px;
                font-size: 18px;
                font-weight: bold;
                color: $blueColor;
                // z-index: 1;
              }

              &:hover {
                &::before {
                  width: 100%;
                  transition: $transtion;
                  z-index: -1;
                }
              }
            }
          }

          &.active {
            opacity: 1;
            display: flex;
            left: 0;
            transition: $transtion;
          }
        }
      }
    }
  }
}

@media (max-width:768px) {
  .navbar {
    .navbar__links {
      ul {
        .other-links {
          .mega-menu {
            &.active {
              width: 100%;
              flex-direction: column;
            }

          }
        }
      }
    }
  }
}

@media (max-width:991px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;

    .toggle-btn {
      display: flex;
    }

    .navbar__links {
      opacity: 0;
      gap: 10px;
      width: 100%;
      padding: 5px;
      transition: all $transtion;
      max-height: 0;

      ul {
        flex-direction: column;
        gap: 10px;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: $start;
        width: 100%;
        transition: all $transtion;


        li {
          // text-align: center;
          padding: 5px 0;
          width: 100%;
        }
      }
    }

    .navbar__links.active {
      opacity: 1;
      margin: 10px 0;
      transition: $transtion;
      max-height: 100%;
    }
  }
}