.awesome-stats {
  padding: $padding;
  background-color: $backgroundColor;
  background-image: url(../images/stats.jpg);
  position: relative;

  .awesome-stats-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;

    .box {
      background-color: #fff;
      text-align: center;
      padding: 30px 15px;
      position: relative;
      opacity: 0.8;
      transition: $transtion;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      .number {
        margin: 10px 0;
        font-size: 50px;
        font-weight: bold;

      }

      .text {
        font-size: 20px;
        font-style: italic;
        color: $blueColor;
        font-weight: bold;
      }

      &::before  , &::after{
        content: "";
        position: absolute;
        width: 2px;
        background: $blueColor;
        height: 0;
        transition: 1s;
      }
      &::after{
        top: 0;
        right: 0;

      }
      &::before{
        bottom: 0;
        left: 0;
      }
      &:hover{
        opacity: 1;
        &::before , &::after {
          height: 100%;
          transition: 1s;
        }
      }
    }
  }
  &::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 95%);
  }
}